In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, isnan, when, count
import pandas as pd
from pyspark.sql.functions import split

In [ ]:
spark=SparkSession.builder.appName("first big data").getOrCreate()

In [9]:
df_sp=spark.read.csv("/content/yellow_tripdata_2015-01.csv",header=True,inferSchema=True)

# Yeni Bölüm

In [10]:
df_sp.show(5)

+---+-------------------+-------------------+----+-------------------+------------------+------------------+---+-------------------+------------------+------------------+----+----+---+---+----+----+----+
| 32|2015-01-19 11:15:00|                  5|1.94|-73.986557006835938|40.739952087402344|                16|  N|-74.007926940917969|40.751968383789063|               110|10.5| 012|0.5|  2| 015| 0.3|13.3|
+---+-------------------+-------------------+----+-------------------+------------------+------------------+---+-------------------+------------------+------------------+----+----+---+---+----+----+----+
|  2|2015-01-28 22:01:48|2015-01-28 22:27:37|   1|              13.59|-73.97100067138672|40.755550384521484|  1|                  N|-73.90247344970703|40.912635803222656|   1|38.0|0.5|0.5|8.35|2.44| 0.3|
|  2|2015-01-28 22:01:48|2015-01-28 22:04:55|   2|               0.59|-73.99153900146484| 40.75468444824219|  1|                  N|-73.99439239501953|40.760040283203125|   1| 4.5|0.5|0.5| 1.0| 0.0| 0.3|
|  2|2015-01-28 22:01:48|2015-01-28 22:04:50|   2|                0.9|-73.96855163574219| 40.75831985473633|  1|                  N| -73.9610595703125|    40.76904296875|   2| 5.0|0.5|0.5| 0.0| 0.0| 0.3|
|  2|2015-01-28 22:01:49|2015-01-28 22:12:24|   1|               3.25|-73.96123504638672| 40.76873779296875|  1|                  N|-73.96460723876953| 40.80196762084961|   1|11.5|0.5|0.5| 2.4| 0.0| 0.3|
|  2|2015-01-28 22:01:49|2015-01-28 22:13:50|   1|               3.82|-73.97914123535156| 40.75333023071289|  1|                  N|-73.94165802001953| 40.79365921020508|   1|13.0|0.5|0.5| 1.5| 0.0| 0.3|
+---+-------------------+-------------------+----+-------------------+------------------+------------------+---+-------------------+------------------+------------------+----+----+---+---+----+----+----+
only showing top 5 rows

In [11]:
df_sp.printSchema()

root
 |-- 32: integer (nullable = true)
 |-- 2015-01-19 11:15:00: timestamp (nullable = true)
 |-- 5: string (nullable = true)
 |-- 1.94: integer (nullable = true)
 |-- -73.986557006835938: double (nullable = true)
 |-- 40.739952087402344: double (nullable = true)
 |-- 16: double (nullable = true)
 |-- N: integer (nullable = true)
 |-- -74.007926940917969: string (nullable = true)
 |-- 40.751968383789063: double (nullable = true)
 |-- 110: double (nullable = true)
 |-- 10.5: integer (nullable = true)
 |-- 012: double (nullable = true)
 |-- 0.5: double (nullable = true)
 |-- 2: double (nullable = true)
 |-- 015: double (nullable = true)
 |-- 0.3: double (nullable = true)
 |-- 13.3: double (nullable = true)

In [ ]:
byk=df_sp.select([count(when(col(c).isNull(),c)).alias(c)for c in df_sp.columns]).show()

+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|pickup_longitude|pickup_latitude|RateCodeID|store_and_fwd_flag|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       0|                   0|                    0|              0|            0|               0|              0|         0|                 0|                0|               0|           0|          0|    0|      0|         0|           0|                    0|           0|
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+

In [ ]:
df_sp.summary().show()

+-------+-------------------+------------------+-----------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+-------------------+---------------------+------------------+
|summary|           VendorID|   passenger_count|    trip_distance|   pickup_longitude|   pickup_latitude|        RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|      payment_type|       fare_amount|             extra|             mta_tax|       tip_amount|       tolls_amount|improvement_surcharge|      total_amount|
+-------+-------------------+------------------+-----------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+-------------------+---------------------+------------------+
|  count|            3230977|           3230977|          3230977|            3230977|           3230977|           3230977|           3230977|           3230977|           3230977|           3230977|           3230977|           3230977|             3230977|          3230977|            3230977|              3230977|           3230977|
|   mean| 1.5214716786903775|1.6792796729905537|6.408234654718756| -72.56055692940924| 39.97207376172342|1.0364580125454312|              NULL|-72.60875751892856|  39.9994820661642|1.3868489314532415|11.903569356884931|0.3080247398851803|  0.4978057720621348|1.545520472599819|0.24306958545343754|  0.28355921443835197|14.797227129825224|
| stddev|0.49953883157120726|1.3360769834092516|4528.331364008423| 10.129816916590416| 5.580240169638366|0.6446759322028602|              NULL| 9.965348841052034| 5.485860135135565|0.4987956686536227|10.351622611441446|0.3661846303227805|0.035309236290139816|2.405894728854148|  1.449718014647801|  0.06827838369892585|12.520569747091232|
|    min|                  1|                 0|              0.0|-121.92581176757812|               0.0|                 1|                 N| -736.183349609375|-9.029156684875488|                 1|            -450.0|              -1.0|                -0.5|            -81.0|             -11.75|                  0.0|            -450.3|
|    25%|                  1|                 1|              1.0| -73.99166870117188|40.735591888427734|                 1|              NULL|-73.99119567871094| 40.73439025878906|                 1|               6.5|               0.0|                 0.5|              0.0|                0.0|                  0.3|              8.16|
|    50%|                  2|                 1|             1.67| -73.98158264160156|40.753211975097656|                 1|              NULL|-73.97975158691406| 40.75365447998047|                 1|               9.0|               0.0|                 0.5|              1.0|                0.0|                  0.3|             11.16|
|    75%|                  2|                 2|              3.0| -73.96662139892578|40.767616271972656|                 1|              NULL|-73.96244812011719| 40.76884460449219|                 2|              13.5|               0.5|                 0.5|             2.06|                0.0|                  0.3|              16.3|
|    max|                  2|                 9|        7468004.3|  78.66265106201172|   53.152587890625|                99|                 Y|  85.2740249633789|57.470916748046875|                 4|            3005.5|             100.0|                 0.5|            750.0|            1000.66|                  0.3|           3006.35|
+-------+-------------------+------------------+-----------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+-------------------+---------------------+------------------+

In [ ]:
select=df_sp.select('fare_amount','total_amount')
select.show(5)

+-----------+------------+
|fare_amount|total_amount|
+-----------+------------+
|       12.0|       17.05|
|       14.5|        17.8|
|        9.5|        10.8|
|        3.5|         4.8|
|       15.0|        16.3|
+-----------+------------+
only showing top 5 rows

In [ ]:
flr=df_sp.filter(df_sp['total_amount']<2)
flr.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+-----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude| dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+-----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2015-01-28 20:22:19|  2015-01-28 20:23:19|              2|          4.8|-74.03569030761719|40.743648529052734|         5|                 N|-74.03571319580078|40.74365997314453|           3|        0.0|  0.0|    0.0|       0.0|         0.0|                  0.3|         0.3|
|       2| 2015-01-17 22:40:27|  2015-01-17 22:43:04|              1|         0.11|-74.00235748291016| 40.73982620239258|         1|                 N|-74.00111389160156|40.74110794067383|           4|       -3.5| -0.5|   -0.5|       0.0|         0.0|                  0.3|        -4.8|
|       2| 2015-01-15 17:33:24|  2015-01-15 17:33:31|              2|          0.0| -73.9825668334961| 40.73979949951172|         1|                 N| -73.9825668334961|40.73979949951172|           3|       -2.5| -1.0|   -0.5|      -0.7|         0.0|                  0.3|        -5.0|
|       2| 2015-01-06 12:43:31|  2015-01-06 12:46:07|              5|         0.23| -73.9603271484375| 40.76001739501953|         2|                 N|-73.96344757080078|40.76166534423828|           2|        0.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         0.0|
|       1| 2015-01-23 23:57:43|  2015-01-24 00:35:26|              2|         13.4|-73.97903442382812|  40.7663688659668|         5|                 N|-74.15727996826172|40.73886489868164|           4|        0.0|  0.0|    0.0|       0.0|         0.0|                  0.3|         0.3|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+-----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [ ]:
sıra=df_sp.orderBy(df_sp['tip_amount'], ascending=False)
sıra.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+-----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude| dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+-----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2015-01-09 10:28:45|  2015-01-09 10:28:53|              1|          0.0|-74.01095581054688| 40.63089370727539|         2|                 N|-74.01094055175781|40.63089370727539|           1|       52.0|  0.0|    0.5|     750.0|         0.0|                  0.3|       802.8|
|       1| 2015-01-07 13:00:53|  2015-01-07 13:02:30|              4|          0.0|-73.59183502197266| 40.68608093261719|         5|                 N|-73.59185791015625|40.68606948852539|           1|     949.99|  0.0|    0.0|     551.0|         0.0|                  0.3|     1501.29|
|       1| 2015-01-03 14:52:10|  2015-01-03 17:23:02|              1|         94.7|-73.78999328613281| 40.64350891113281|         1|                 N| -72.2418441772461|40.96858596801758|           1|       26.0|  0.0|    0.5|    528.55|         0.0|                  0.0|      555.35|
|       2| 2015-01-23 00:54:14|  2015-01-23 00:54:27|              1|          0.0|-73.90433502197266| 40.75519561767578|         1|                 N|-73.90433502197266|40.75519561767578|           1|        2.5|  0.5|    0.5|     495.0|         0.0|                  0.3|       498.8|
|       1| 2015-01-04 04:48:18|  2015-01-04 04:59:53|              1|          3.3| -73.9957275390625|40.767215728759766|         1|                 N|-74.00598907470703|40.72565460205078|           1|       12.5|  0.5|    0.5|     420.0|         0.0|                  0.0|       433.8|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+-----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [ ]:
sıra=df_sp.orderBy(df_sp['tip_amount'], ascending=True)
sıra.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2015-01-23 15:39:39|  2015-01-23 15:43:21|              1|         0.27|-73.97608947753906| 40.78890609741211|         1|                 N|-73.97825622558594|40.785675048828125|           1|       -4.0|  0.0|   -0.5|     -81.0|         0.0|                  0.3|       -85.8|
|       2| 2015-01-17 15:02:34|  2015-01-17 15:02:34|              2|          0.0|-73.97769165039062| 40.78384017944336|         2|                 N|-73.98222351074219| 40.73944091796875|           1|      -52.0|  0.0|   -0.5|    -58.09|       -5.33|                  0.3|     -116.22|
|       2| 2015-01-24 12:24:10|  2015-01-24 12:32:04|              1|         0.93|-74.01485443115234| 40.71641159057617|         1|                 N|-74.00627899169922| 40.71802520751953|           4|       -7.0|  0.0|   -0.5|     -41.0|         0.0|                  0.3|       -48.8|
|       2| 2015-01-14 11:52:09|  2015-01-14 11:52:20|              1|          0.0|-73.78995513916016| 40.64694595336914|         2|                 N|               0.0|               0.0|           3|      -52.0|  0.0|   -0.5|    -14.33|       -5.33|                  0.3|      -72.46|
|       2| 2015-01-29 14:44:20|  2015-01-29 14:50:30|              2|         0.69|-73.96755981445312|40.759254455566406|         1|                 N|-73.97124481201172| 40.75135803222656|           1|       -5.5|  0.0|   -0.5|    -12.55|         0.0|                  0.3|      -18.85|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [ ]:
passenger=df_sp.orderBy(df_sp['passenger_count'], ascending=False)

passenger.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2015-01-27 16:25:50|  2015-01-27 16:25:53|              9|          0.0|               0.0|               0.0|         5|                 N|-73.99159240722656|  40.7498893737793|           1|        9.3|  0.0|    0.5|       0.4|         0.0|                  0.3|        10.5|
|       2| 2015-01-02 20:14:40|  2015-01-02 20:14:44|              9|          0.0|-73.95030975341797| 40.82704162597656|         5|                 N|-73.95033264160156| 40.82705307006836|           1|        9.8|  0.0|    0.5|       0.0|         0.0|                  0.3|        10.6|
|       1| 2015-01-02 22:08:23|  2015-01-02 22:34:13|              9|          9.6|-73.99333190917969| 40.74739074707031|         1|                 N|-73.97720336914062|40.647254943847656|           1|       30.5|  0.5|    0.5|       5.0|        5.33|                  0.0|       42.13|
|       1| 2015-01-21 20:16:10|  2015-01-21 20:16:37|              8|          0.0|-73.97550201416016|40.759639739990234|         1|                 N|-73.97632598876953|40.759681701660156|           3|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|
|       1| 2015-01-04 17:50:19|  2015-01-04 18:07:42|              8|          3.2|-73.96699523925781|40.772769927978516|         1|                 N|-74.00238800048828| 40.74495315551758|           1|       14.5|  0.0|    0.5|      3.05|         0.0|                  0.0|       18.35|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [ ]:
df_sp=df_sp.withColumn("date", split(df_sp["tpep_pickup_datetime"], " ")[0])\
           .withColumn("time", split(df_sp["tpep_pickup_datetime"], " ")[1])
df_sp.select("tpep_pickup_datetime","date", "time").show(5)

+--------------------+----------+--------+
|tpep_pickup_datetime|      date|    time|
+--------------------+----------+--------+
| 2015-01-15 19:05:39|2015-01-15|19:05:39|
| 2015-01-10 20:33:38|2015-01-10|20:33:38|
| 2015-01-10 20:33:38|2015-01-10|20:33:38|
| 2015-01-10 20:33:39|2015-01-10|20:33:39|
| 2015-01-10 20:33:39|2015-01-10|20:33:39|
+--------------------+----------+--------+
only showing top 5 rows

In [ ]:

tip=df_sp.select('tip_amount', 'passenger_count')
tip.show(5)

+----------+---------------+
|tip_amount|passenger_count|
+----------+---------------+
|      3.25|              1|
|       2.0|              1|
|       0.0|              1|
|       0.0|              1|
|       0.0|              1|
+----------+---------------+
only showing top 5 rows

In [ ]:
odemey=df_sp.olderBy(df_sp['payment_type'], ascending=False)
odemey.show(5)

TypeError: DataFrame.filter() got an unexpected keyword argument 'ascending'

In [ ]:
geçiş=df_sp.orderBy(df_sp['tolls_amount'], ascending=False)
geçiş.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2015-01-29 05:20:31|  2015-01-29 05:44:39|              1|         10.8|    -73.9931640625|40.758914947509766|         1|                 N|-73.87637329101562|40.770301818847656|           2|       32.5|  0.5|    0.5|       0.0|     1000.66|                  0.3|     1034.46|
|       1| 2015-01-16 15:03:52|  2015-01-16 15:53:41|              1|         13.1|-74.00774383544922| 40.70517349243164|         1|                 N|-73.86156463623047|  40.7682991027832|           2|       43.5|  0.0|    0.5|       0.0|      540.33|                  0.3|      584.63|
|       1| 2015-01-07 19:11:04|  2015-01-07 19:12:23|              1|         11.5|               0.0|               0.0|         5|                 N|               0.0|               0.0|           2|       36.0|  0.0|    0.0|       0.0|       533.0|                  0.3|       569.3|
|       1| 2015-01-11 17:17:22|  2015-01-11 18:05:56|              1|         19.1|-73.78974151611328| 40.64363479614258|         2|                 N|-74.00389862060547|40.741939544677734|           2|       52.0|  0.0|    0.5|       0.0|      315.33|                  0.3|      368.13|
|       1| 2015-01-20 06:59:20|  2015-01-20 07:30:31|              3|         16.7|-73.97293090820312|   40.755615234375|         2|                 N|-73.78394317626953| 40.64364242553711|           2|       52.0|  0.0|    0.5|       0.0|       306.3|                  0.3|       359.1|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [ ]:
from google.colab import drive
drive.mount('/content/drive')