In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, isnan, when, count
import pandas as pd
from pyspark.sql.functions import split, unix_timestamp
from datetime import time

In [17]:
spark=SparkSession.builder.appName("first big data").getOrCreate()

In [27]:
df_sp=spark.read.csv("/content/sample_data/yellow_tripdata_2015-01.csv",header=True, inferSchema=True)

# Yeni Bölüm

In [ ]:
df_sp.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2015-01-15 19:05:39|  2015-01-15 19:23:42|              1|         1.59|  -73.993896484375|  40.7501106262207|         1|                 N|-73.97478485107422| 40.75061798095703|           1|       12.0|  1.0|    0.5|      3.25|         0.0|                  0.3|       17.05|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:53:28|              1|          3.3|-74.00164794921875|  40.7242431640625|         1|                 N|-73.99441528320312| 40.75910949707031|           1|       14.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        17.8|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:43:41|              1|          1.8|-73.96334075927734| 40.80278778076172|         1|                 N|-73.95182037353516| 40.82441329956055|           2|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:35:31|              1|          0.5|-74.00908660888672| 40.71381759643555|         1|                 N|-74.00432586669922| 40.71998596191406|           2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:52:58|              1|          3.0|-73.97117614746094|40.762428283691406|         1|                 N|-74.00418090820312|40.742652893066406|           2|       15.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        16.3|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [ ]:
df_sp.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- RateCodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

In [ ]:
byk=df_sp.select([count(when(col(c).isNull(),c)).alias(c)for c in df_sp.columns]).show()

+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|pickup_longitude|pickup_latitude|RateCodeID|store_and_fwd_flag|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       0|                   0|                    0|              0|            0|               0|              0|         0|                 0|                0|               0|           0|          0|    0|      0|         0|           0|                    0|           0|
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+

In [ ]:
df_sp.summary().show()

+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-------------------+------------------+-------------------+--------------------+------------------+-------------------+---------------------+------------------+
|summary|          VendorID|   passenger_count|     trip_distance|  pickup_longitude|  pickup_latitude|        RateCodeID|store_and_fwd_flag| dropoff_longitude| dropoff_latitude|       payment_type|       fare_amount|              extra|             mta_tax|        tip_amount|       tolls_amount|improvement_surcharge|      total_amount|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-------------------+------------------+-------------------+--------------------+------------------+-------------------+---------------------+------------------+
|  count|             47102|             47102|             47102|             47102|            47102|             47102|             47102|             47102|            47102|              47102|             47102|              47102|               47102|             47102|              47102|                47102|             47102|
|   mean|1.5224831217358075|1.6752791813511103|2.7565387881618815|-72.63970262576788|40.01579242286943|1.0351577427710077|              NULL| -72.6724885215952|40.03481290667514| 1.3839115111884845| 11.84728949938434|0.32775742006708847|  0.4976646426903316|1.5434189631013535|0.23782450851343667|   0.2852108190734625|14.753288395394591|
| stddev|0.4994995558034936|1.3357298863098133|3.3834434203249866| 9.847556834447483|5.424886607795607|0.5237360577070551|              NULL| 9.727261928818649|5.358742126738854|0.49628089968236516|10.017643511406826|0.37683534199539775|0.036352190089363925|2.2685147719862786| 1.2210574321348935|  0.06494708583487407|12.159263410470976|
|    min|                 1|                 0|               0.0|-80.59243774414062|              0.0|                 1|                 N|-74.39395141601562|              0.0|                  1|             -52.0|               -1.0|                -0.5|            -14.33|              -5.33|                  0.0|            -72.46|
|    25%|                 1|                 1|               1.0|-73.99163818359375|40.73606872558594|                 1|              NULL|-73.99114227294922|40.73482131958008|                  1|               6.5|                0.0|                 0.5|               0.0|                0.0|                  0.3|               8.3|
|    50%|                 2|                 1|              1.65|-73.98145294189453|40.75352096557617|                 1|              NULL| -73.9798583984375|40.75366973876953|                  1|               9.0|                0.0|                 0.5|               1.0|                0.0|                  0.3|             11.16|
|    75%|                 2|                 2|              2.99|-73.96649169921875|40.76762390136719|                 1|              NULL|-73.96244049072266|40.76885223388672|                  2|              13.5|                0.5|                 0.5|              2.08|                0.0|                  0.3|              16.3|
|    max|                 2|                 9|              99.9|               0.0|41.01689147949219|                99|                 Y|               0.0|41.16884994506836|                  4|             234.0|                1.5|                 0.5|             100.0|               23.5|                  0.3|            270.13|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-------------------+------------------+-------------------+--------------------+------------------+-------------------+---------------------+------------------+

In [ ]:
select=df_sp.select('fare_amount','total_amount')
select.show(5)

+-----------+------------+
|fare_amount|total_amount|
+-----------+------------+
|       12.0|       17.05|
|       14.5|        17.8|
|        9.5|        10.8|
|        3.5|         4.8|
|       15.0|        16.3|
+-----------+------------+
only showing top 5 rows

In [ ]:
flr=df_sp.filter(df_sp['total_amount']<2)
flr.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+-----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude| dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+-----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2015-01-28 20:22:19|  2015-01-28 20:23:19|              2|          4.8|-74.03569030761719|40.743648529052734|         5|                 N|-74.03571319580078|40.74365997314453|           3|        0.0|  0.0|    0.0|       0.0|         0.0|                  0.3|         0.3|
|       2| 2015-01-17 22:40:27|  2015-01-17 22:43:04|              1|         0.11|-74.00235748291016| 40.73982620239258|         1|                 N|-74.00111389160156|40.74110794067383|           4|       -3.5| -0.5|   -0.5|       0.0|         0.0|                  0.3|        -4.8|
|       2| 2015-01-15 17:33:24|  2015-01-15 17:33:31|              2|          0.0| -73.9825668334961| 40.73979949951172|         1|                 N| -73.9825668334961|40.73979949951172|           3|       -2.5| -1.0|   -0.5|      -0.7|         0.0|                  0.3|        -5.0|
|       2| 2015-01-06 12:43:31|  2015-01-06 12:46:07|              5|         0.23| -73.9603271484375| 40.76001739501953|         2|                 N|-73.96344757080078|40.76166534423828|           2|        0.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         0.0|
|       1| 2015-01-23 23:57:43|  2015-01-24 00:35:26|              2|         13.4|-73.97903442382812|  40.7663688659668|         5|                 N|-74.15727996826172|40.73886489868164|           4|        0.0|  0.0|    0.0|       0.0|         0.0|                  0.3|         0.3|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+-----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [ ]:
bahsıs=df_sp.orderBy(df_sp['tip_amount'], ascending=False)
bahsıs.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2015-01-25 07:22:54|  2015-01-25 07:26:12|              1|          0.8|-73.98861694335938|40.778526306152344|         1|                 N|-73.97631072998047|40.776344299316406|           1|        4.5|  0.0|    0.5|     100.0|         0.0|                  0.3|       105.3|
|       2| 2015-01-29 02:40:59|  2015-01-29 02:41:00|              2|          0.0|               0.0|               0.0|         1|                 N|               0.0|               0.0|           1|        2.5|  0.5|    0.5|     100.0|         0.0|                  0.3|       103.8|
|       1| 2015-01-21 10:16:39|  2015-01-21 10:24:32|              1|          4.6|-73.83833312988281| 40.72661590576172|         2|                 N|-73.82328796386719|40.677974700927734|           1|       52.0|  0.0|    0.5|      40.0|         0.0|                  0.3|        92.8|
|       2| 2015-01-30 08:41:03|  2015-01-30 09:08:59|              1|         4.55|-73.96922302246094|40.788658142089844|         1|                 N|-73.98957824707031|40.739845275878906|           1|       20.0|  0.0|    0.5|      40.0|         0.0|                  0.3|        60.8|
|       1| 2015-01-23 14:32:01|  2015-01-23 15:09:00|              1|         16.8|-74.00431823730469|40.721832275390625|         3|                 N|-74.18190002441406|40.687713623046875|           1|       64.5|  0.0|    0.0|      39.0|         0.0|                  0.3|       103.8|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [ ]:
sıra=df_sp.orderBy(df_sp['tip_amount'], ascending=True)
sıra.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------+--------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|      date|    time|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------+--------+
|       2| 2015-01-14 11:52:09|  2015-01-14 11:52:20|              1|          0.0|-73.78995513916016| 40.64694595336914|         2|                 N|               0.0|               0.0|           3|      -52.0|  0.0|   -0.5|    -14.33|       -5.33|                  0.3|      -72.46|2015-01-14|11:52:09|
|       2| 2015-01-10 02:23:53|  2015-01-10 02:23:58|              2|          0.0|               0.0|               0.0|         5|                 N|               0.0|               0.0|           1|       -6.8|  0.0|    0.0|      -1.0|         0.0|                  0.3|        -8.1|2015-01-10|02:23:53|
|       2| 2015-01-15 17:33:24|  2015-01-15 17:33:31|              2|          0.0| -73.9825668334961| 40.73979949951172|         1|                 N| -73.9825668334961| 40.73979949951172|           3|       -2.5| -1.0|   -0.5|      -0.7|         0.0|                  0.3|        -5.0|2015-01-15|17:33:24|
|       1| 2015-01-07 18:57:26|  2015-01-07 19:02:50|              1|          1.1|-73.98751068115234| 40.75041580200195|         1|                 N|-73.98015594482422|40.751651763916016|           2|        6.0|  1.0|    0.5|       0.0|         0.0|                  0.3|         7.8|2015-01-07|18:57:26|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:35:23|              1|          0.3|-74.00836181640625|40.704376220703125|         1|                 N|-74.00977325439453|40.707725524902344|           2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|2015-01-10|20:33:41|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------+--------+
only showing top 5 rows

In [ ]:
passenger=df_sp.orderBy(df_sp['passenger_count'], ascending=False)
passenger.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------+--------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|      date|    time|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------+--------+
|       2| 2015-01-02 20:14:40|  2015-01-02 20:14:44|              9|          0.0|-73.95030975341797| 40.82704162597656|         5|                 N|-73.95033264160156| 40.82705307006836|           1|        9.8|  0.0|    0.5|       0.0|         0.0|                  0.3|        10.6|2015-01-02|20:14:40|
|       2| 2015-01-18 08:57:22|  2015-01-18 09:01:35|              6|         0.55|-73.91985321044922|40.868186950683594|         1|                 N| -73.9295425415039| 40.86586380004883|           2|        5.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         5.8|2015-01-18|08:57:22|
|       2| 2015-01-15 14:00:46|  2015-01-15 14:41:54|              6|        10.39|-73.99309539794922|40.747257232666016|         1|                 N|-73.86483001708984|40.770320892333984|           1|       38.0|  0.0|    0.5|     10.83|        5.33|                  0.3|       54.96|2015-01-15|14:00:46|
|       2| 2015-01-07 14:58:17|  2015-01-07 15:22:45|              6|         4.76|-73.99138641357422|40.730125427246094|         1|                 N|    -73.9501953125|40.775753021240234|           1|       19.0|  0.0|    0.5|      4.75|         0.0|                  0.3|       24.55|2015-01-07|14:58:17|
|       2| 2015-01-18 19:49:31|  2015-01-18 20:08:02|              6|          4.0| -73.9710464477539| 40.78316116333008|         1|                 N|-73.98832702636719| 40.73728561401367|           1|       16.0|  0.0|    0.5|       3.2|         0.0|                  0.3|        20.0|2015-01-18|19:49:31|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+----------+--------+
only showing top 5 rows

In [26]:
df_sp = df_sp.withColumn("time", split(df_sp["tpep_pickup_datetime"], " ")[1])\
             .withColumn("timee", split(df_sp["tpep_dropoff_datetime"], " ")[1])

df_sp = df_sp.withColumn("time_different_minute",
                         (unix_timestamp("tpep_dropoff_datetime", "yyyy-MM-dd HH:mm:ss") -
                          unix_timestamp("tpep_pickup_datetime", "yyyy-MM-dd HH:mm:ss")) / 60)


df_sp.select("tpep_pickup_datetime", "tpep_dropoff_datetime", "time_different_minute")
df_sp.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------+--------+---------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|    time|   timee|time_different_minute|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------+--------+---------------------+
|       2| 2015-01-15 19:05:39|  2015-01-15 19:23:42|              1|         1.59|  -73.993896484375|  40.7501106262207|         1|                 N|-73.97478485107422| 40.75061798095703|           1|       12.0|  1.0|    0.5|      3.25|         0.0|                  0.3|       17.05|19:05:39|19:23:42|                18.05|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:53:28|              1|          3.3|-74.00164794921875|  40.7242431640625|         1|                 N|-73.99441528320312| 40.75910949707031|           1|       14.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        17.8|20:33:38|20:53:28|   19.833333333333332|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:43:41|              1|          1.8|-73.96334075927734| 40.80278778076172|         1|                 N|-73.95182037353516| 40.82441329956055|           2|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|20:33:38|20:43:41|                10.05|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:35:31|              1|          0.5|-74.00908660888672| 40.71381759643555|         1|                 N|-74.00432586669922| 40.71998596191406|           2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|20:33:39|20:35:31|   1.8666666666666667|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:52:58|              1|          3.0|-73.97117614746094|40.762428283691406|         1|                 N|-74.00418090820312|40.742652893066406|           2|       15.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        16.3|20:33:39|20:52:58|   19.316666666666666|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------+--------+---------------------+
only showing top 5 rows

In [6]:
tip=df_sp.select('tip_amount', 'passenger_count')
tip.show(5)

+----------+---------------+
|tip_amount|passenger_count|
+----------+---------------+
|      3.25|              1|
|       2.0|              1|
|       0.0|              1|
|       0.0|              1|
|       0.0|              1|
+----------+---------------+
only showing top 5 rows

In [ ]:
odemey=df_sp.olderBy(df_sp['payment_type'], ascending=False)
odemey.show(5)

AttributeError: 'DataFrame' object has no attribute 'olderBy'

In [ ]:
gecıs=df_sp.orderBy(df_sp['tolls_amount'], ascending=False)
gecıs.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2015-01-01 07:02:06|  2015-01-01 07:33:58|              2|         19.7| -73.9880142211914|40.723934173583984|         3|                 N|-74.17698669433594| 40.69480514526367|           1|       71.5|  0.0|    0.0|      12.0|        23.5|                  0.0|       107.3|
|       2| 2015-01-13 16:17:59|  2015-01-13 17:14:48|              6|        36.87|-73.78494262695312| 40.64855194091797|         3|                 N|-74.17723846435547| 40.69517135620117|           2|      113.0|  1.0|    0.0|       0.0|       22.41|                  0.3|      136.71|
|       2| 2015-01-10 13:28:06|  2015-01-10 13:56:36|              1|        18.77|-74.01699829101562| 40.70564270019531|         3|                 N|-74.17768859863281|40.695491790771484|           1|       68.5|  0.0|    0.0|      15.0|        22.0|                  0.3|       105.8|
|       2| 2015-01-10 15:54:43|  2015-01-10 17:04:12|              6|        35.04|-73.78958129882812|40.643455505371094|         3|                 N|-74.17742919921875| 40.69517135620117|           2|      112.0|  0.0|    0.0|       0.0|       21.08|                  0.3|      133.38|
|       1| 2015-01-09 05:37:43|  2015-01-09 06:06:31|              1|         18.7|-73.96575164794922|40.790122985839844|         3|                 N|-74.17867279052734| 40.68924331665039|           1|       67.0|  0.5|    0.0|      10.0|       20.15|                  0.3|       97.95|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful